body {
    margin: 0 10%;
}

h1 {
    text-align: center;
    font-style: italic;
    font-size: 22px;
    text-transform: uppercase;
}

.gallery_text {
    text-align: justify;
    font-size: 18px;
}