@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="css/about.css"/>
<div class="about_text">
    <p> Привет, меня зовут Наиль и я студент... да 😥. Но ты не расстраивайся, я учусь на программиста, хотя учеба 
        мне не нравится 😥. Поэтому я учусь на программиста, а точнее на frontend-разработчика у себя дома. 
        Видишь, всё это я смастерил сам. И моё самообразование приносит мне удовольствие. Сейчас я активно изучаю html, 
        css, javascript. Это основа основ вёрстки сайтов. Тебе наверно интересно, как я выгляжу (хотя кого я обманываю). 
        Bruh, в общем, вот пару моих фоток ↴</p>
</div>
