@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gallery";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="css/gallery.css"/>
<div class="gallery_text">
    <p>Здесь будет галерея скоро.</p>
</div>
