@page
@model IndexModel
@{
    ViewData["Title"] = "Nail Abdulganiev";
}

<div class="welcome_text">
    <h1>Welcome</h1>
</div>
<div class="short_information">
    <p>
        Информация в About старенькая. Сейчас я закончил 3 курс на программиста, но ничего не умею. Чтобы не остаться 
        с голой жопой через год, я начал учить C# и ASP.NET Core. Постараюсь сделать полноценный сайт о себе с фронт 
        и бэк частями. Подключу базу данных, сделаю регистрацию и много чего еще.
    </p>
</div>